*{margin:0px;padding:0px;font-family:宋体;}
.header{
	height:35px;
	border:1px solid #fdfdfd;
	background-color:#f4f3f3;
	background:gradient(top,#fdfdfd,#f4f3f3);
	background:-webkit-linear-gradient(top,#fdfdfd,#f4f3f3);
	background:-moz-linear-gradient(top,#fdfdfd,#f4f3f3);
	background:-o-linear-gradient(top,#fdfdfd,#f4f3f3);
	font-size:12px;
}
.searchbar{
	width:1200px;
	height:95px;
	margin:0px auto;
}
.logo{
	width:100px;
	height:100px;
	background-image:url("imgs/logo.png");
	background-repeat:no-repeat;
	background-position:center;
	float:left;
	margin-left:100px;
}
.logoname{
	font-size:22px;
	font-family:【双初】若樱体,微软雅黑;
	float:left;
	padding-top:15px;
	margin-right:100px;
}
.en-logoname{
	font-size:16px;
	font-family:【双初】若樱体,微软雅黑;
}
.search{
	width:455px;
	height:45px;
	float:left;
	margin-top:25px;
	margin-left:20px;
}
.search input{
	width:320px;
	height:45px;
	float:left;
}
.search-icon{
	width:45px;
	height:45px;
	background-color:#000;
	background-image:url("imgs/search.png");
	background-repeat:no-repeat;
	display:block;
	float:left;
}
.buyer{
	background-color:#484848;
	color:#ffd045;
	font-family:微软雅黑;
	font-size:20px;
	padding:8px 15px;
	margin-top:25px;
	margin-left:25px;
}
.navbar{
	height:50px;
	background-color:#323232;
	color:#fff;
}
.navbar ul{
	width:1200px;
	margin:0px auto;
}
.navbar ul li{
	list-style:none;
	float:left;
	font-family:微软雅黑;
	line-height:50px;
	text-align:center;
	padding:0px 60px;
}
.li-active{
	background-color:#484848;
	height:55px;
	margin-top:-7px;
}
.bg-li-active{
	width:20px;
	height:20px;
	float:left;
	display:block;
	background-color:#000;
	margin-top:-3px;
	margin-left:-10px;
	margin-right:-10px;
	transform:rotateZ(45deg);
	-webkit-transform:rotateZ(45deg);
	-moz-transform:rotateZ(45deg);
	-o-transform:rotateZ(45deg);
	-ms-transform:rotateZ(45deg);
	z-index:-1000;
}
.select{
	width:50px;
	height:40px;
	border:0px;
	display:block;
	z-index:1000;
	margin-top:-40px;
	margin-left:40px;
	transform:translateX(40px) rotateZ(90deg);
	cursor:pointer;
}
.optionshow{
	width:300px;
	height:400px;
	position:absolute;
	margin-top:50px;
	margin-left:130px;
	background-color:#fff;
	z-index:1000;
}
.optionhide{
	width:300px;
	height:400px;
	position:absolute;
	margin-top:50px;
	margin-left:130px;
	background-color:#fff;
	z-index:1000;
	display:none;
}
.userphoto{
	width:100px;
	height:100px;
	border-radius:50%;
	overflow:hidden;
	margin:20px auto;
	border:2px solid #ffc119;
	padding:0px;
}
.userphoto img{
	width:100px;
	height:100px;
	margin:0px;
}
.carousel{
	height:490px;
	background-color:#fff;
}
.carousel img{
	margin:0px auto;
	width:auto;
	height:490px;
}
.hide{
	display:none;
}
.show{
	margin:0px auto;
	width:auto;
	height:490px;
	position:relative;
	display:block;
	animation:opacityFade 3s;
	transition:3s all;
}
@keyframes opacityFade{
	0%{
		opacity:0.5;
	}
	100%{
		opacity:1;
	}
}
.index-banner{
	z-index:1000;
	width:100px;
	height:10px;
	float:left;
	position:absolute;
	margin-top:-25px;
	margin-left:50%;
}
.index{
	width:8px;
	height:8px;
	border-radius:50%;
	background-color:#fff;
	float:left;
	margin-left:15px;
}
.change-indexColor{
	width:8px;
	height:8px;
	border-radius:50%;
	background-color:#fff;
	float:left;
	margin-left:15px;
	background-color:#fbe922;
}
.main{
	width:1005px;
	height:330px;
	margin:10px auto;
}
.operate-box{
	width:1005px;
	height:332px;
}
.operate{
	width:335px;
	height:330px;
	margin-right:10px;
	background-color:#eeeeee;
	float:left;
}
.operate label{
	font-family:微软雅黑;
	font-size:18px;
	width:280px;
	height:58px;
	display:block;
	line-height:58px;
	margin:5px auto;
}
.operate-br{
	border-bottom:1px solid #ffc119;
}
.count-msg{
	width:20px;
	height:20px;
	border-radius:50%;
	background-color:#ffc119;
	display:inline-block;
	line-height:20px;
	text-align:center;
	margin-left:10px;
	color:#fff;
}
.activityPic{
	width:660px;
	height:330px;
	background-color:#eeeeee;
	float:left;
}
.activity-left{
	width:140px;
	float:left;
}
.activity-right{
	width:520px;
	height:330px;
	float:left;
}
.activity-right img{
	width:520px;
	height:330px;
}
.activity-left-right{
	width:25px;
	height:25px;
	transform:rotateZ(45deg);
	position:absolute;
	background-color:#eeeeee;
	margin-top:120px;
	margin-left:125px;
	z-index:2;
}
.thumbnail{
	width:100px;
	height:330px;
	float:left;
}
.thumbnail img{
	width:100px;
	height:100px;
	margin:5px 20px;
}
.bigpic{
	float:left;
}
.today{
	width:100px;
	font-family:微软雅黑;
	padding-bottom:15px;
	border-bottom:1px solid #ffc119;
	margin:20px 0px 10px 20px;
	float:left;
}
.date{
	font-size:24px;
}
.day{
	font-size:14px;
}
.privilege-box{
	width:1005px;
	height:480px;
	margin-top:10px;
}
.privilege-left{
	width:335px;
	height:480px;
	float:left;
	background-color:#eeeeee;
}
.privilege-right{
	width:670px;
	height:480px;
	float:left;
	background-color:#eeeeee;
}
.coupons-box{
	width:1005px;
	height:475px;
	margin:10px auto;
	background-color:#000;
}
.footer{
	width:99.9%;
}